---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Eine spezielle Plattform für den Wissensaustausch Ihrer Mitarbeiter
            </Title>
            <Paragraph className="mt-8">
                LearnSlice hilft bei der Entwicklung interaktiver Quizze für das Onboarding, die Orientierungssitzungen und Schulungsmodule abdecken und neuen Mitarbeitern eine ansprechende Möglichkeit bieten, die notwendigen Informationen aufzunehmen. Es beschleunigt das Onboarding und schafft eine Grundlage für kontinuierliches Lernen und Wachstum.
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold rounded-full w-8 h-8 mr-3 text-primary bg-primary/20 inline-flex justify-center items-center">&checkmark;</span>
                    Effiziente Leistungsanalyse für Mitarbeiterwachstum
                </li>
                <li>
                    <span class="font-bold rounded-full w-8 h-8 mr-3 text-primary bg-primary/20 inline-flex justify-center items-center">&checkmark;</span>
                    Steigern Sie das Engagement und die Motivation Ihrer Mitarbeiter 
                </li>
                <li>
                    <span class="font-bold rounded-full w-8 h-8 mr-3 text-primary bg-primary/20 inline-flex justify-center items-center">&checkmark;</span>
                    Zentralisiertes Quiz-Repository für konsistentes Lernen
                </li>
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-32 h-32 bg-gradient-to-br from-primary to-secondary blur-3xl opacity-50"></div>
                <div class="absolute p-1 -top-4 md:-top-10 right-0 w-64 h-64 bg-gradient-to-br from-primary to-secondary rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-secondary opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/quiz-home.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>