---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
---

<Layout title="Welcome to LearnSlice">
	<main class="overflow-hidden prose prose-invert max-w-screen-md mx-auto px-4 relative pt-32 lg:pt-36">
        <h2>Impressum</h2>
        <dl>
          <dt>
            <h2>Informationspflicht laut § 5 TMG.
            </h2>
          </dt>
          <dd>Qizify
          </dd>
          <dd>Alesia Kunts
          </dd>
          <dd>Luisenstraße 66
          </dd>
          <dd>40215 Düsseldorf
          </dd>
        </dl>
        <dl>
          <dt>
            <h2>Kontakt Informationen
            </h2>
          </dt>
          <dd>Telefon: +49 15783914112
          </dd>
          <dd>E-Mail-Adresse: 
            <a href="mailto:info@qizify.com">info@qizify.com
            </a>
          </dd>
          <dd>Internet Adresse: 
            <a rel="noopener noreferrer" href="https://www.qizify.com" target="_blank">www.qizify.com
            </a>
          </dd>
        </dl>
        <h2>USt.-ID-Nummer
        </h2>
          <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE330402393
          <br>Wirtschafts-ID: 106/5202/4553
        </p>
        <h2>Aufsichtsbehörde
        </h2>
        <p>Gewerbeerlaubnis gemäß § 15 Abs.1 GewO
          <br>Landeshauptstadt Düsseldorf, Ordnungsamt
          <br>Worringer Str. 111 40210 Düsseldorf 
          <br>
          <a rel="noopener noreferrer" href="https://service.duesseldorf.de" target="_blank">https://service.duesseldorf.de
          </a>
          <br>Kammer: IHK Düsseldorf 
          <br>
        </p>
        <h2>Bildernachweis
        </h2>
        <p>www.pexels.com
          <br>www.unsplash.com
          <br>www.freepik.com
        </p>
        <h2>
        </h2>
        <p>
        </p>
        <h2>Haftungsausschluss
        </h2>
        <h3>Haftung für Inhalte dieser Website
        </h3>
        <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Laut Telemediengesetz (TMG) §7 (1) sind wir als Diensteanbieter für eigene Informationen, die wir zur Nutzung bereitstellen, nach den allgemeinen Gesetzen verantwortlich. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wurden. Als Diensteanbieter im Sinne der §§ 8 bis 10 sind wir nicht verpflichtet, die von ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit nach den §§ 8 bis 10 unberührt. Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.
        </p>
        <h3>Haftung für Links auf dieser Website
        </h3>
        <p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden. Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.
        </p>
        <h3>Urheberrechtshinweis
        </h3>
        <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht der Bundesrepublik Deutschland. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielfältigen oder verwerten wie zum Beispiel auf anderen Websites erneut veröffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen. Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.
        </p>
        <i>Quelle: 
        </i>
        <a rel="noopener noreferrer" href="http://www.translate-24h.de" target="_blank">translate-24h.de
        </a>
	</main>
</Layout>