---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import  Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href:"#",
        text:"Startseite"
    },
    {
        href:"#services",
        text:"Vorteile"
    },
    {
        href:"#about-us",
        text:"Über uns"
    },
    {
        href:"#features",
        text:"Funktionen"
    },
]
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <svg class="relative w-12 h-12 overflow-hidden flex rounded-xl" width="81" height="80" viewBox="0 0 81 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_87_1599)">
                        <path d="M30.1538 17.0307C30.1538 13.3407 33.453 10.5252 37.097 11.1053L75.3534 17.1951C78.2663 17.6588 80.4102 20.1709 80.4102 23.1205V60.8796C80.4102 63.8292 78.2663 66.3413 75.3534 66.805L37.097 72.8948C33.453 73.4748 30.1538 70.6593 30.1538 66.9694V17.0307Z" fill="url(#paint0_linear_87_1599)"/>
                        <path d="M26.1333 18.811C26.1333 17.0317 23.9841 16.1382 22.7227 17.3932L21.8708 18.2408C20.7389 19.3669 20.1026 20.8977 20.1026 22.4943V61.5057C20.1026 63.1024 20.7389 64.6331 21.8708 65.7592L22.7227 66.6068C23.9841 67.8618 26.1333 66.9683 26.1333 65.189V18.811Z" fill="url(#paint1_linear_87_1599)"/>
                        <path d="M16.082 25.7265C16.082 24.1312 14.306 23.178 12.9766 24.0598L12.7348 24.2201C11.0589 25.3317 10.0513 27.2091 10.0513 29.2202V54.7798C10.0513 56.7909 11.0589 58.6683 12.7349 59.7799L12.9766 59.9403C14.306 60.822 16.082 59.8688 16.082 58.2736V25.7265Z" fill="url(#paint2_linear_87_1599)"/>
                        <path d="M6.03076 31.7265C6.03076 30.1312 4.25471 29.178 2.92529 30.0598L2.68358 30.2201C1.00759 31.3317 0 33.2091 0 35.2202V48.7798C0 50.7909 1.00759 52.6683 2.68358 53.7799L2.92529 53.9403C4.25471 54.822 6.03076 53.8688 6.03076 52.2736V31.7265Z" fill="url(#paint3_linear_87_1599)"/>
                        </g>
                        <defs>
                        <linearGradient id="paint0_linear_87_1599" x1="0" y1="11.0293" x2="87.5957" y2="60.1594" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#1DE1EE"/>
                        <stop offset="0.493582" stop-color="#8B43FE"/>
                        <stop offset="1" stop-color="#E50CEA"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_87_1599" x1="0" y1="11.0293" x2="87.5957" y2="60.1594" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#1DE1EE"/>
                        <stop offset="0.493582" stop-color="#8B43FE"/>
                        <stop offset="1" stop-color="#E50CEA"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_87_1599" x1="0" y1="11.0293" x2="87.5957" y2="60.1594" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#1DE1EE"/>
                        <stop offset="0.493582" stop-color="#8B43FE"/>
                        <stop offset="1" stop-color="#E50CEA"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear_87_1599" x1="0" y1="11.0293" x2="87.5957" y2="60.1594" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#1DE1EE"/>
                        <stop offset="0.493582" stop-color="#8B43FE"/>
                        <stop offset="1" stop-color="#E50CEA"/>
                        </linearGradient>
                        <clipPath id="clip0_87_1599">
                        <rect width="80.4102" height="80" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <div class="inline-flex text-xl font-bold text-heading-1">
                        LearnSlice
                    </div>
                </a>
            </div>

            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"></div>
            <div data-navbar class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0">
                <ul class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center">
                    {navItems.map(item=>{
                        return <Navitem {...item}/>
                    })
                    }
                </ul>

                <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0">
                    <BtnLink text="Get Started" href="#cta" className="flex justify-center w-full sm:w-max" variant="primary"/>
                </div>
            </div>


            <div class="min-w-max flex items-center gap-x-3">
                <button data-switch-theme class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:flex hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                      </svg>
                                    
                    <span class="sr-only">Theme wechseln</span>
                </button>
                
                <button data-toggle-nav data-open-nav="false" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">Navigation ausklappen</span>
                </button>
            </div>
        </nav>
    </Container>
</header>